@font-face {
  font-family: "KoPub Dotum Medium";
  src: url("./components/fonts/KoPub\ Dotum\ Medium.ttf") format("truetype"),
    url("./components/fonts/KoPub\ Dotum_Pro\ Medium.otf") format("truetype");
}
@font-face {
  font-family: "KoPub Dotum Bold";
  src: url("./components/fonts/KoPub\ Dotum\ Bold.ttf") format("truetype"),
    url("./components/fonts/KoPub\ Dotum_Pro\ Bold.otf") format("truetype");
}
@font-face {
  font-family: "KoPub Dotum Light";
  src: url("./components/fonts/KoPub\ Dotum\ Light.ttf") format("truetype"),
    url("./components/fonts/KoPub\ Dotum_Pro\ Light.otf") format("truetype");
}

body {
  margin: 0;
  font-family: "KoPub Dotum Medium", "KoPub Dotum Bold", "KoPub Dotum Light",
    /* -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif */;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280;
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

code {
  font-family: "KoPub Dotum Medium", "KoPub Dotum Bold", "KoPub Dotum Light",
    /* source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace */;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  background: #ffffff;
}
